@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'str';
  src: url('/fonts/str.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'str';
}

.ant-btn {
  font-family: 'str';
}





@font-face {
  font-family: "MyFont";
  src: url("/fonts/str.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: "MyFont", sans-serif !important;
}


* {
  font-family: "MyFont", sans-serif !important;
}
